In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv('songdata.csv')
df.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \nAnd..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \nTouch me gentl..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \nWhy I had t...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [4]:
df.shape

(57650, 4)

In [5]:
df.sample(n=500).drop('link',axis=1).reset_index(drop=True)

,artist,song,text
0,Aerosmith,Joanie's Butterfly,"What a stormy night, when I met the pony, \nI..."
1,Gucci Mane,Cyeah Cyeah Cyeah Cyeah,Cyeah cyeah cyeah cyeah cyeah \n \n[Hook: gu...
2,Dolly Parton,Change,(Dolly Parton) \nSomeday when I'm over you \...
3,Marilyn Manson,Five To One,Five to one baby one in five \nNo one here ge...
4,Pet Shop Boys,Left To My Own Devices,I get out of bed at half past ten \nPhone up ...
...,...,...,...
495,Roxette,So Far Away,"In the coldest time of year, \nDarkness all a..."
496,Neil Sedaka,My World Keeps Getting Smaller Every Day,Round and round I go in circles trying to be f...
497,Electric Light Orchestra,So Fine,"Two drifters on the morning sky, \nTwo drifte..."
498,Eurythmics,Walking On Broken Glass,You were the sweetest thing that I ever knew ...
499,Fabolous,"Money Goes, Honey Stay",When The Money Goes Will The Honeys Stay \nWh...

cleaning

In [7]:
df['song'][0]

"Ahe's My Kind Of Girl"

In [8]:
df['text']

0        Look at her face, it's a wonderful face  \nAnd...
1        Take it easy with me, please  \nTouch me gentl...
2        I'll never know why I had to go  \nWhy I had t...
3        Making somebody happy is a question of give an...
4        Making somebody happy is a question of give an...
                               ...
57645    Irie days come on play  \nLet the angels fly l...
57646    Power to the workers  \nMore power  \nPower to...
57647    all you need  \nis something i'll believe  \nf...
57648    northern star  \nam i frightened  \nwhere can ...
57649    come in  \nmake yourself at home  \ni'm a bit ...
Name: text, Length: 57650, dtype: object

In [9]:
df['text'][0]

"Look at her face, it's a wonderful face  \nAnd it means something special to me  \nLook at the way that she smiles when she sees me  \nHow lucky can one fellow be?  \n  \nShe's just my kind of girl, she makes me feel fine  \nWho could ever believe that she could be mine?  \nShe's just my kind of girl, without her I'm blue  \nAnd if she ever leaves me what could I do, what could I do?  \n  \nAnd when we go for a walk in the park  \nAnd she holds me and squeezes my hand  \nWe'll go on walking for hours and talking  \nAbout all the things that we plan  \n  \nShe's just my kind of girl, she makes me feel fine  \nWho could ever believe that she could be mine?  \nShe's just my kind of girl, without her I'm blue  \nAnd if she ever leaves me what could I do, what could I do?\n\n"

In [18]:
df['text'].str.lower().replace(r,'['^a-zA-Z0-9']',' ')

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2165135994.py, line 1)

In [20]:
df['text'] = df['text'].str.lower().replace(r'[^\w\s]','').replace(r'\n',' ', regex=True)

In [22]:
df['text'][0]

'look at her face  it s a wonderful face   and it means something special to me   look at the way that she smiles when she sees me   how lucky can one fellow be       she s just my kind of girl  she makes me feel fine   who could ever believe that she could be mine    she s just my kind of girl  without her i m blue   and if she ever leaves me what could i do  what could i do       and when we go for a walk in the park   and she holds me and squeezes my hand   we ll go on walking for hours and talking   about all the things that we plan      she s just my kind of girl  she makes me feel fine   who could ever believe that she could be mine    she s just my kind of girl  without her i m blue   and if she ever leaves me what could i do  what could i do   '

In [24]:
df['artist']

0                ABBA
1                ABBA
2                ABBA
3                ABBA
4                ABBA
             ...
57645    Ziggy Marley
57646    Ziggy Marley
57647            Zwan
57648            Zwan
57649            Zwan
Name: artist, Length: 57650, dtype: object